* {
    box-sizing: border-box;
    
  }
  
nav{
    position: absolute;
    
    display: inline-block;  
    width: 30%;
    top: 120px;
    border: 1px solid black;
    height: 500px;
    overflow-y: scroll; 
    padding:5px;
    
    
}

main{
    position: absolute;
    display: inline-block;
    left: 30%;  
    margin: 10px;
    width:70%;
    height: 550px;
    overflow-y: scroll;
   top: 120px;
    padding: 30px;
    font-family: 'Work Sans', sans-serif;
   
    
    
}
header{
    width:100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    background-color: rgb(4, 209, 141);

}
h1{
    text-align: center;
    color:white;
    font-family: 'Merriweather', serif;
}

h2{
    font-family: 'Merriweather', serif;
}
h3{
    color:rgb(25, 147, 187);
    font-family: 'Merriweather', serif;
}



.exemple{
    color: rgb(241, 139, 6);
}

 table , th , td {
    border: solid black 1px;
    border-collapse: collapse;
    padding:5px;
}